<div class="container">
  <div row="row">
    <div class="col-md-3">
    <% @reviewed_book.each do |book| %>
    <h5><%= book.title%>, <%= book.author %></h5>
    <% end %>
    <% @reviews.each do |review| %>
    <p><%= review.book_review %></p>
    <p><%= review.time_difference %></p>
    <% end %>
    <% @reviewed_user.each do |user| %>
    <p>by <%= user.name %><p>
    <% end %>
    </div>
  </div>
</div>