<div>
  <% @reviews.each do |review| %>
  <%= review.book_review %>
  <%= review.time_difference %>
  <% end %><br>

  <% @reviewed_user.each do |user| %>
  by <%= user.name %>
  <% end %><br>

  <% @reviewed_book.each do |book| %>
  <%= book.title %>
  <%= book.author %>
  <% end %><br>
</div>