<div class="review-container">
  <% @reviewed_book.each do |book| %>
  <img src="<%= book.book_cover %>"><br>
  <%= book.title %><br>
  <%= book.author %><br>
  <% end %><br>

  <% @reviews.each do |review| %>
  <%= review.book_review %>
  <%= review.time_difference %>
  <% end %><br>

  <% @reviewed_user.each do |user| %>
  by <%= user.name %>
  <% end %><br>
</div>