
<div class="container">
  <div class="page-header">
    <h3>Reviews</h3>
    <a href="/"><button type="submit" class="btn btn-sm btn-warning home-button">Home</button></a>
  </div>
  <div row="row">
    <div class="col-md-3">
    <% @book_ownerships.each do |book_ownership| %>
    <img src="<%=book_ownership.book.book_cover %>">
    <h5><%= book_ownership.book.title%>, <%= book_ownership.book.author %></h5>
    <p><%= book_ownership.book_review %></p>
    <p>by <%= book_ownership.user.name %>, <%= book_ownership.time_difference %></p>
    <hr>
    <% end %>
    </div>
  </div>
</div>

