<header>
  <span id="logout"><a href="/logout">logout</a></span>
  <span><a href="/books">view all books</a></span>
  <!-- search for books -->
  <!-- search for users-->
</header>

<form action="/books/search" method="get">
    <input type="text" name="searched_item" placeholder="Search for a book">
    <input type="submit" value="Search!">
  </form>

<div class="user_container">
  <div class="page-header">
    <% if current_user %>
  <h2>Welcome <%= current_user.name %></h2>
<% end %>
  </div>
  <ul class="nav nav-pills" role="tablist">
    <li role="presentation">
      <a href="/account">Profile</a>
    </li>
    <li role="presentation">
      <a href="/account/currently_reading">Currently Reading</a>
    </li>
    <li role="presentation" class="active">
      <a href="/account/reviews">Collection</a>
    </li>
    <li role="presentation">
      <a href="/account/completed">Completed</a>
    </li>
    <li role="presentation">
      <a href="/account/reviews">Reviews</a>
    </li>
  </ul>

<div class="collection">
  <div>
    <% @books.each do |book| %>
    <img width="200" height="300" src="<%= book.book_cover %>"> <br>
    <%= book.title %><br>
    <%= book.author %><br>
    <br>
    <% @book_ownerships.each do |owned| %>
    <% if owned.currently_reading == false && owned.completed == false %>
    <form action="/account/currently_reading/books/<%= book.id %>" method="post">
      <input type="hidden" name="_method" value="put">
      <input type="submit" value="Add to Currently Reading">
    </form>
    <form action="/account/currently_reading/books/<%= book.id %>/completed" method="post">
      <input type="hidden" name="_method" value="put">
      <input type="submit" value="Add to Complete">
    </form>
    <% end %>
     <% end %>
    <% end %>
  </div>
</div>

</div>





