<header>
  <span id="logout"><a href="/logout">logout</a></span>
  <span><a href="/books">view all books</a></span>
  <!-- search for books -->
  <!-- search for users-->
</header>
<form action="/books/search" method="get">
    <input type="text" name="searched_item" placeholder="Search for a book">
    <input type="submit" value="Search!">
  </form>
<div class="user_container">
  <div class="page-header">
    <% if current_user %>
  <h2>Welcome <%= current_user.name %></h2>
<% end %>
  </div>
  <ul class="nav nav-pills" role="tablist">
    <li role="presentation">
      <a href="/account">Profile</a>
    </li>
    <li role="presentation" class="active">
      <a href="/account/currently_reading">Currently Reading</a>
    </li>
    <li role="presentation">
      <a href="/account/collection">Collection</a>
    </li>
    <li role="presentation">
      <a href="/account/completed">Completed</a>
    </li>
    <li role="presentation">
      <a href="/account/reviews">Reviews</a>
    </li>
  </ul>
</div>

<div>
  <div class="currently_reading">
    <% @books.each do |book| %>
    <img width="200" height="300" src="http://livethroughbooks.files.wordpress.com/2010/04/wuthering-heights.jpg">
    <br><%= book.book.title %> <br>
    <%= book.book.author %><br>
     Current Page: <%= book.current_page %><br>
    <a href="/account/currently_reading/books/<%= book.book_id %>/edit">Edit current progress </a> <br>
    <form action="/account/currently_reading/books/<%= book.book_id %>/completed" method="post">
      <input type="hidden" name="_method" value="put">
      <input type="submit" value="Complete">
    </form>
    <% end %>
  </div>

<!--   <a href="/"> Completed</a> -->


  <!-- <form action="/account/currently_reading/books/:book_id/edit" method="post">
   <input type="hidden" name="_method" value="put">
    <input type="text" name="current_page">
    <button type="button" class="btn btn-success">Update current progress</button>
  </form>
  <form action="/account/currently_reading/completed" method="post">
    <input type="hidden" name="_method" value="put">
    <button type="button" class="btn btn-success">Completed</button>
  </form> -->
</div>
