<header>
  <nav>
    <ul>
      <li><a href="/logout">logout</a></li>
      <li><a href="/books/reviews">latest book reviews</a></li>
    </ul>
  </nav>
</header>
<div id="search_books">
  <form action="/books/search" method="get">
  <input type="text" name="searched_item" placeholder="Search for a book">
  <button type="submit" class="btn btn-sm btn-warning">Search</button>
  </form>
</div>



<div class="user_container">
  <div class="page-header">
    <% if current_user %>
  <h2>Welcome <%= current_user.name %></h2>
<% end %>
  </div>
  <ul class="nav nav-pills" role="tablist">
    <li role="presentation">
      <a href="/account">Profile</a>
    </li>
    <li role="presentation" class="active">
      <a href="/account/currently_reading">Currently Reading</a>
    </li>
    <li role="presentation">
      <a href="/account/collection">Collection</a>
    </li>
    <li role="presentation">
      <a href="/account/completed">Completed</a>
    </li>
    <li role="presentation">
      <a href="/account/reviews">Reviews</a>
    </li>
  </ul>
</div>

  <div class="currently_reading">
    <% @books.each do |book| %>
    <% if book.currently_reading == true %>
    <img width="200" height="300" src="<%= book.book.book_cover %>">
    <br><%= book.book.title %> <br>
    <%= book.book.author %><br>
     Current Page: <%= book.current_page %><br>
    <a href="/account/currently_reading/books/<%= book.book_id %>/edit">Edit current progress </a> <br>
    <form action="/account/currently_reading/books/<%= book.book_id %>/completed" method="post">
      <input type="hidden" name="_method" value="put">
      <button type="submit" class="btn btn-sm btn-warning">Complete</button>
    </form>
    <% end %>
    <% end %>
  </div>

  </div>
</div>