<header>
  <span id="logout"><a href="/logout">logout</a></span>
  <span><a href="/books">view all books</a></span>
  <!-- search for books -->
  <!-- search for users-->
</header>

<form action="/books/search" method="get">
    <input type="text" name="searched_item" placeholder="Search for a book">
    <input type="submit" value="Search!">
  </form>

<div class="user_container">
  <div class="page-header">
    <% if current_user %>
  <h2>Welcome <%= current_user.name %></h2>
<% end %>
  </div>
  <ul class="nav nav-pills" role="tablist">
    <li role="presentation">
      <a href="/account">Profile</a>
    </li>
    <li role="presentation">
      <a href="/account/currently_reading">Currently Reading</a>
    </li>
    <li role="presentation">
      <a href="/account/collection">Collection</a>
    </li>
    <li role="presentation">
      <a href="/account/completed">Completed</a>
    </li>
    <li role="presentation" class="active">
      <a href="/account/reviews">Reviews</a>
    </li>
  </ul>
</div>

<h3>review a book you've read!</h3>
<div>
  <div class="reviews">
    <% @books.each do |book| %>
    <img width="200" height="300" src="http://www.beyondhollywood.com/uploads/2012/02/Paradise-Lost-Book-Cover-e1328817248834.jpg">
    <br><%= book.book.title %> <br>
    <%= book.book.author %><br>

    <% if !(book.book_review == nil) %>
    <br>
      <p><strong>Review:</strong></p>
      <%= book.book_review %>
    <% else %>
      <a href="/account/reviews/books/<%= book.book_id %>/review">Make a review!</a>
    <% end %>
    <% end %>
</div>
